
.navbar-nav
{
  background-color: #00547E;
  width: 100%;
  text-align: center;
}


.navbar-nav >  li >  a
{
  font-size: 13px;
  color: white;

}

.navbar-nav >  li
{
  cursor: pointer !important;
  float: none;
  display: inline-block;

}

.navbar-nav >  li >  a.navbar-brand:hover
{
  background-color: #00547E;
}

.navbar-brand{
  font-size:20px !important;
}

.navbar-header > a:hover
{
  text-decoration: none;
}

.navbar-collapse{
  padding:0 !important;
}
